@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Navbar */

.navbar {
    background-color: #1F2937;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    color: #E5E7EB;
    font-size: 18px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.navbar .flex {
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    margin-left: 20px;
    margin-right: auto;
    color: #f9FAF8;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

/* ------------------------------- */